{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/forum.css' %}">
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <p class="top-menu">Hello {{ user.username }}! <small><a href="{% url 'logout' %}">Log out</a></small></p>
                {% if request.user.is_superuser %}
                    <a href="{% url 'add_user' %}">Add User</a><br>
                    <a href="{% url 'change_password' %}">Change Password</a>
                {%endif%}
            {% else %}  
                <div>
                    <a href="{% url 'login' %}">Login</a>
                </div>
            {% endif %}
        </div>
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
    </body>
</html>