{% extends 'base.html' %}
{% block content %}
    <form method="POST" action="{% url 'change_password' %}">
        {% csrf_token %}
        <table>
            {% if message %}
                <div style="color:red">{{message}}</div>
            {% endif %}
            Oldpassword: <input type="password" name="Oldpassword"><br>
            Newpassword: <input type="password" name="Newpassword"><br>
            Confirm Newpassword: <input type="password" name="Confirmpass"><br>
            <input type="submit" value="Change" />
            <input type="hidden" name="next" value="{{ next }}" />
        </table>
    </form>
{% endblock %}