{% extends 'base.html' %}

{% block content %}

{% if phase == 'phase2' %}
    <body class = 'phase2'>
    </body>
{% elif phase == 'phase3' %}
    <body class = 'phase2'>
    </body>
{% else %}
    <body>
    </body>
{% endif %}

<style>
    .phase2{
        animation:phase2 1s infinite linear;
    }
    .phase3{
        animation:phase3 1s infinite linear;
    }
    @keyframes phase2{
        50%{background-color:white}
        100%{background-color:yellow}
    }
    @keyframes phase3{
        50%{background-color:white}
        100%{background-color:red}
    }
</style>
{% endblock %}
