{% extends 'base.html' %}
{% block content %}
<section id="content">
	<div class="wrap-content">
           {% for Record in Records %}
                   <tr>
                   <td>{{ Record.type }}<span>&nbsp;&nbsp;&nbsp;</span></td>
                   <td>{{ Record.phase }}<span>&nbsp;&nbsp;&nbsp;</span></td>
                   <td>{{ Record.date }}<span>&nbsp;&nbsp;&nbsp;</span></td>
                   <td><a href = "/remove_record/?id={{Record.id}}">Remove</a></td>
                   </tr><br>
           {% endfor %}
	</div>
</section>
{% endblock %}